@import "../../node_modules/pretty-checkbox/dist/pretty-checkbox.css";
@import "../../node_modules/react-day-picker/lib/style.css";
@import "./shoelace.css";
@import "../../node_modules/react-big-calendar/lib/css/react-big-calendar.css";

:root {
  /* Colors */
  --mango-tango: #ff8c42;
  --hasana-yellow: #e9c46a;
  --livid: #6699cc;
  --almost-white: hsl(0, 0%, 98%);
  --almost-black: #444;
  --offwhite: #ebebe4;
  --state-primary: tomato;
  --font-monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --color-green: #2ecc40;
  --component-border-radius: 0.25rem;
  --button-border-radius: var(--component-border-radius);
  --input-height: 2.25rem;
}

body {
  background-color: var(--livid);
}

.monospace {
  font-family: var(--font-monospace);
}

.background-white {
  background-color: var(--almost-white);
}

.background-green {
  background-color: var(--color-green);
}

.background-transition {
  transition: background-color 1s, color 2s;
}

.background-yellow {
  background-color: var(--hasana-yellow);
}

.text-white {
  color: var(--almost-white);
}

.text-black {
  color: var(--almost-black) !important;
}

.text-green {
  color: var(--color-green);
}

.text-primary {
  color: var(--state-primary);
}

.pointer {
  cursor: pointer;
}

.button-border-radius {
  border-radius: var(--button-border-radius);
}

.input-height {
  height: var(--input-height);
}

.info-circle {
  min-height: 6.5rem;
  height: 6.5rem;
  min-width: 6.5rem;
  width: 6.5rem;
  border: 1px solid var(--state-primary);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
}

.comeals-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

.box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media all and (max-width: 825px) {
  body {
    min-width: 400px;
  }

  .calendar {
    width: 95vw;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    transition: width 0.5s;
  }

  .responsive-calendar {
    flex-direction: column !important;
  }

  .wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "a1 a1 a1" "a2 a2 a2" "a3 a3 a3" "a4 a4 a4" "a5 a5 a5";
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    transition: padding-left 1s;
  }

  .login-box {
    width: 100%;
    transition: width 0.5s;
  }

  .ReactModal__Content {
    width: auto;
  }

  .ReactModal__Content--after-open {
    width: auto;
  }

  #dropdown_add::after {
    content: "+";
  }

  #dropdown_remove::after {
    content: "-";
  }

  #info_box {
    flex-direction: column !important;
  }
}

@media all and (min-width: 825px) {
  body {
    min-width: 825px;
  }

  .calendar {
    width: calc(100vw - 185px);
    min-width: 635px;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.5s;
  }

  .responsive-calendar {
    flex-direction: row !important;
  }

  .wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1 a2 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a3 a4 a4 a4 a4 a4 a4"
      "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5";
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    transition: padding-left 1s;
  }

  .login-box {
    width: 50%;
  }

  .ReactModal__Content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .ReactModal__Content--after-open {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  #dropdown_add::after {
    content: "+ Guest";
  }

  #dropdown_remove::after {
    content: "- Guest";
  }
}

button:focus {
  outline: none;
}

.header {
  height: 2rem;
  background-color: var(--hasana-yellow);
}

.offwhite {
  background-color: var(--offwhite);
}

.arrow {
  cursor: pointer;
}

.arrow[disabled] {
  color: initial;
  cursor: not-allowed;
  background-color: initial;
}

.title {
  border-bottom: 0.5px solid;
  padding: 1rem 1rem 0 1rem;
  background-color: var(--hasana-yellow);
  margin-bottom: 0;
}

.is-hidden {
  visibility: hidden;
}

/* GRID SYSTEM */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.top {
  align-items: flex-start;
}
.flex.middle {
  align-items: center;
}
.flex.bottom {
  align-items: flex-end;
}
.flex.stretch {
  align-items: stretch;
}
.flex.baseline {
  align-items: baseline;
}
.flex.left {
  justify-content: flex-start;
}
.flex.center {
  justify-content: center;
}
.flex.right {
  justify-content: flex-end;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}

.cell {
  box-sizing: border-box;
  flex-shrink: 0;
}
.cell.fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}
.cell.one {
  width: calc(100% * 1 / 12);
}
.cell.two {
  width: calc(100% * 2 / 12);
}
.cell.three {
  width: calc(100% * 3 / 12);
}
.cell.four {
  width: calc(100% * 4 / 12);
}
.cell.five {
  width: calc(100% * 5 / 12);
}
.cell.six {
  width: calc(100% * 6 / 12);
}
.cell.seven {
  width: calc(100% * 7 / 12);
}
.cell.eight {
  width: calc(100% * 8 / 12);
}
.cell.nine {
  width: calc(100% * 9 / 12);
}
.cell.ten {
  width: calc(100% * 10 / 12);
}
.cell.eleven {
  width: calc(100% * 11 / 12);
}
.cell.twelve {
  width: 100%;
}

/*
Prevent ReactBigCalendar title text from being cut off
*/
.rbc-event-content {
  white-space: pre-line !important;
}

/*
Make modal showup on top of calendar
*/
.ReactModal__Overlay--after-open {
  z-index: 10000 !important;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.close-button {
  margin-left: auto;
}

.close-button:hover {
  cursor: pointer;
}

/*
Reduce default size of calendar content
*/
.rbc-event-content {
  font-size: 0.85rem !important;
  line-height: 1.15 !important;
}

/*
Offline Indicator
*/
#status {
  font: bold 1em sans-serif;
  color: #fff;
  padding: 0.5em;
}

.online {
  background: green;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in 2s, visibility 4s;
}

.offline {
  background: red;
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-in 0s;
}

.rbc-month-view {
  background-color: var(--almost-white);
}

/*
Allow for all content to be seen
*/
.rbc-month-row {
  overflow: scroll !important;
}

/*
Give links the ability to be disabled
*/
a[disabled] {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

/*
Allow AttendeesBox component to fit on mobile
*/
table td {
  padding: 0.5rem 0.25rem !important;
}

#info_circles {
  display: flex;
  flex-wrap: wrap;
}
